<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Curriculum - Python at ALA</title>
    
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="js/doc_page.js"></script>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="css/coderay.css" />
    <link type="text/css" rel="stylesheet" href="css/doc_page.css" />
    <link type="text/css" rel="stylesheet" href="css/step.css" />
</head>

<body>
    <div class="top">
        <div class="top_links">
            <a class="top_link show-when-small" data-toggle-selector="#table_of_contents" href="#">contents</a>
            <a class="top_link" href="https://github.com/LibraryCodeYearIG/python-preconference">github</a>
            <a class="top_link" href="http://connect.ala.org/node/167971">interest group</a>
        </div>
        <h1><a href="/">Python at ALA</a></h1>
    </div>
    <div class="toc page-list" id="table_of_contents">
        <h1>Before the preconference</h1>        
        <ul>
            <li><a href="./before.html#step1">Set up Python</a></li>
            <li><a href="./before.html#step2">Set up a text editor</a></li>
            <li><a href="./before.html#step3">Practice starting &amp; exiting Python</a></li>
            <li><a href="./before.html#step4">Practice navigating your files from the command prompt</a></li>
            <li><a href="./before.html#step5">Practice running Python code from a file</a></li>
            <li><a href="./before.html#step6">Get dependencies installed for projects</a></li>
            <li><a href="./before.html#step7"><I>Optional</I>: Get started learning Python!</a></li>
            <li><a href="./checkoff.html">Checkoff</a></li>
        </ul>

        <h1>Preconference</h1>        
        <ul>
            <li><a href="./introduction.html">Self-paced introduction, part 1</a></li>
            <li><a href="./introduction2.html">Self-paced introduction, part 2</a></li>
            <li><a href="/friday.html">Lecture outline and links</a></li>
            <li><a href="/friday.html">Lightning talks</a></li>
            <li><a href="/friday.html">Wordplay project</a></li>
            <li><a href="/friday.html">ColorWall project</a></li>
        </ul>

        <h1>What To Do Next</h1>        
        <ul>
            <li><a href="/curriculum/credits_and_next_steps">Credits And Next Steps</a></li>
        </ul>
    </div>
    <div class="main">