---
layout: default 
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ site.title }} &mdash; {{ page.title }}</title>
    
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="js/doc_page.js"></script>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="css/coderay.css" />
    <link type="text/css" rel="stylesheet" href="css/doc_page.css" />
    <link type="text/css" rel="stylesheet" href="css/step.css" />
</head>

<body>
    <div class="top">
        <div class="top_links">
            <a class="top_link show-when-small" data-toggle-selector="#table_of_contents" href="#">contents</a>
            <a class="top_link" href="https://github.com/LibraryCodeYearIG/python-preconference">github</a>
            <a class="top_link" href="http://connect.ala.org/node/167971">interest group</a>
        </div>
        <h1><a href="/">Python at ALA</a></h1>
    </div>
    <div class="toc page-list" id="table_of_contents">
        <h1>Before the preconference</h1>        
        <ul>
            <li><a href="./before.html#step1">Set up Python</a></li>
            <li><a href="./before.html#step2">Set up a text editor</a></li>
            <li><a href="./before.html#step3">Practice starting &amp; exiting Python</a></li>
            <li><a href="./before.html#step4">Practice navigating your files from the command prompt</a></li>
            <li><a href="./before.html#step5">Practice running Python code from a file</a></li>
            <li><a href="./before.html#step6">Get dependencies installed for projects</a></li>
            <li><a href="./before.html#step7"><I>Optional</I>: Get started learning Python!</a></li>
        </ul>

        <h1>Preconference</h1>        
        <ul>
            <li><a href="./schedule.html">Schedule</a></li>
            <li><a href="./introduction.html">Self-paced introduction, part 1</a></li>
            <li><a href="./introduction2.html">Self-paced introduction, part 2</a></li>
            <li><a href="./checkoff.html">Checkoff</a></li>
            <li><a href="./lecture.html">Lecture outline and links</a></li>
            <li><a href="./lightning.html">Lightning talks</a></li>
            <li><a href="./afterlunch.html">After lunch: practice and projects</a></li>
        </ul>

        <h1>What To Do Next</h1>        
        <ul>
            <li><a href="./wrapup.html">Wrap up, credits, and next steps</a></li>
        </ul>
    </div>
    <div class="main">
        <h1 class="doc_title">{{ page.title }}</h1>
        {{ content }}
        
            {% if page.next_path %}
            <div class="step next_step">
                <h1><span class="prefix">Next Step:</span></h1>
                <p class="link">
                    On to <a class="link" href="{{ page.next_path }}">{{ page.next_title }}</a>
                </p>
            </div>
            {% endif %}
        </div>
        {% if page.previous_path %}
        <div class="back">
            Back to <a class="back" href="{{ page.previous_path }}">{{ page.previous_title }}</a>
        </div>
        {% endif %}
    </div>
</body>
</html>
